<section class="container">
  <div class="row">
    <h1 class="col-sm-12">Cadastro</h1>
  </div>
  <form class="row">
    <div class="col-md-4">
      <label for="cmbMarcas" class="form-label">Marca</label>
      <select class="form-select" name="cmbMarcas" id="cmbMarcas" [(ngModel)]="codMarca" type="Number" (change)="listaModelos()">
        <option selected value={0}>Selecione</option>
        <option *ngFor="let marca of marcas" [value]="marca.codMarca">{{marca.marca}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="cmbAno" class="form-label">Ano</label>
      <select class="form-select" name="cmbAno" id="cmbAno">
        <option selected value={0}>Selecione</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.codModelo">{{modelo.ano}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="cmbModelos" class="form-label">Modelo</label>
      <select class="form-select" name="cmbModelos" [(ngModel)]="codModelo" type="Number" id="cmbModelos" defaultValue="Selecione">
        <option value={0}>Selecione</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.codModelo">{{modelo.modelo}}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="txtRenavam" class="form-label">Renavam</label>
      <input type="text" class="form-control" [(ngModel)]="renavam" id="txtRenavam" name="renavam">
    </div>
    <div class="col-md-4">
      <label for="cmbCor" class="form-label">Cor</label>
      <select class="form-select" name="cmbCor" [(ngModel)]="codCor" type="Number" id="cmbCor">
        <option selected value={0}>Selecione</option>
        <option *ngFor="let cor of cores" [value]="cor.codCor">{{cor.cor}}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="txtKilometragem" class="form-label">Kilometragem</label>
      <input type="number" class="form-control" [(ngModel)]="km" type="Number" name="km" id="txtKilometragem">
    </div>

    <div class="col-md-4">
      <label for="txtPlaca" class="form-label">Placa</label>
      <input type="text" class="form-control" [(ngModel)]="placa" type="string" name="placa" id="txtPlaca">
    </div>

    <div class="col-md-4 mb-5">
      <label for="cmbFilial" class="form-label">Filial</label>
      <select class="form-select" name="cmbFilial" [(ngModel)]="codFilial" type="Number" id="cmbFilial" defaultValue="Selecione">
        <option value={0}>Selecione</option>
        <option *ngFor="let filial of filiais" [value]="filial.codFilial">{{filial.razaoSocial + " - " + filial.cnpj}}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="txtValor" class="form-label">Valor</label>
      <input type="text" class="form-control" [(ngModel)]="valor" type="Number" name="valor" id="txtValor">
    </div>

    <div class="row">
      <div class="d-flex justify-content-center mb-5">
        <button type="button" class="btn btn-outline-danger">Limpar</button>
        <button type="submit" class="btn btn-primary" (click)="cadastrarVeiculo()">Cadastrar</button>
      </div>
    </div>
  </form>


</section>
