<section class="container">
  <div class="row">
    <h1 class="col-sm-12">Consulta</h1>
  </div>
  <form class="row">
    <div class="col-md-4">
      <label for="cmbMarcas" class="form-label">Marca</label>
      <select class="form-select" name="cmbMarcas" [(ngModel)]="codMarca" type="Number" (change)="listaModelos()"
        id="cmbMarcas" defaultValue="Selecione">
        <option selected value=0>Selecione</option>
        <option *ngFor="let marca of marcas" [value]="marca.codMarca">{{marca.marca}}</option>
      </select>
      <span *ngIf="validationError" class="alert-danger">
        Campo obrigatório
      </span>
    </div>
    <div class="col-md-4">
      <label for="cmbAno" class="form-label">Ano</label>
      <select class="form-select" name="cmbAno" id="cmbAno" [(ngModel)]="ano">
        <option selected value=0>Selecione</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.ano">{{modelo.ano}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="cmbCor" class="form-label">Cor</label>
      <select class="form-select" name="cmbCor" id="cmbCor" [(ngModel)]="codCor" type="Number">
        <option selected value=0>Selecione</option>
        <option *ngFor="let cor of cores" [value]="cor.codCor">{{cor.cor}}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="cmbModelos" class="form-label">Modelo</label>
      <select class="form-select" name="cmbModelos" [(ngModel)]="codModelo" type="Number" id="cmbModelos"
        defaultValue="Selecione">
        <option value=0>Selecione</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.codModelo">{{modelo.modelo}}</option>
      </select>
    </div>

    <div class="col-md-4 mb-5">
      <label for="cmbFilial" class="form-label">Filial</label>
      <select class="form-select" name="codFilial" [(ngModel)]="codFilial" type="Number" id="cmbFilial"
        defaultValue="Selecione">
        <option value=0>Selecione</option>
        <option *ngFor="let filial of filiais" [value]="filial.codFilial">{{filial.razaoSocial + " - " + filial.cnpj}}
        </option>
      </select>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center mb-5">
        <button type="button" class="btn btn-outline-danger mx-2" (click)="ClearForm()">Limpar</button>
        <button type="submit" class="btn btn-primary mx-2" (click)="consultarVeiculo()">Consultar</button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="table-light">
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Ano</th>
          <th>Filial</th>
          <th>Cor</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculos">
          <td>{{veiculo.codModelo.codMarca.marca}}</td>
          <td>{{veiculo.codModelo.modelo}}</td>
          <td>{{veiculo.codModelo.ano}}</td>
          <td>{{veiculo.codFilial.razaoSocial}}</td>
          <td>{{veiculo.codCor.cor}}</td>
          <td>{{veiculo.valor | currency:'BRL':true:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
